textarea {
    min-height: 400px;
}

.emailBorder {
    border: 1px solid black;
    margin-bottom: 5px;
}

.cursorPointer {
    cursor: pointer;
}

.textAlignRight {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.emailBody {
    white-space: pre;
    overflow-wrap: break-word;
    border: 1px solid black;
}

div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.test {
    background-color: lightgray;
}