textarea {
    min-height: 400px;
}

.emailBorder {
    border: 1px solid black;
    margin-bottom: 5px;
}

.cursorPointer {
    cursor: pointer;
}

div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.test {
    background-color: lightgray;
}